@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:hover {
    @apply no-underline;
  }
}

@layer utilities {
  .flex-basis-25 {
    flex-basis: 25%;
  }
}

.test {
  display: flex;
}

.fade-ellipsis:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33%;
  height: 1.5em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
